*body{
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    height: 40px;
}

.jumbotron {
    background-color: #f8f9fa;
    text-align: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
nav ul li:hover{
    background-color: gold;
}
.gallery {
    overflow: hidden;
  }
  
  .gallery img {
    transition: all 1.3s ease;
  }
  
  .gallery:hover img {
    transform: scale(1.2);
  }
  .review{
    color: white;
  }
  .tea:hover{
    transform: scale(1.5);
  }
  @media(max-width:576px){
    .tea:hover{
      transform: scale(0.5);
    }
  }